<!-- PANORAMICA -->
<table class="tbl-elegir borde img-elegida">
	<tr>
		<td class="elegir-imagen tres-cols una-row panoramica">						
		</td>
		<td class="elegir-imagen tres-cols una-row panoramica">
			<span class="click-drag">utiliza las flechas para<br> acomodar la imagen</span>
			<br><br>
			<span class="btn-elegir">Elegir imagen</span>
		</td>
		<td class="elegir-imagen tres-cols una-row panoramica">
			<div class="bkg-position">
				<table>
				  <tr>
				    <td></td>
				    <td><span class="glyphicon glyphicon-chevron-up bkg-change bkg-up ajustar-imagen-font"></span></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td><span class="glyphicon glyphicon-chevron-left bkg-change bkg-left ajustar-imagen-font"></span></td>
				    <td></td>
				    <td><span class="glyphicon glyphicon-chevron-right bkg-change bkg-right ajustar-imagen-font"></span></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td><span class="glyphicon glyphicon-chevron-down bkg-change bkg-down ajustar-imagen-font"></span></td>
				    <td></td>
				  </tr>
				</table>
			</div>
		</td>	
	</tr>
</table>