<!-- C1 -->
<table class="tbl-collage-elegir" id="c1">
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir" colspan="2" rowspan="2"></td>
    <td class="collage-elegir"></td>
  </tr>
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
</table>