<!-- C2 -->
<table class="tbl-collage-elegir" id="c2">
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
  <tr>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
    <td class="collage-elegir"></td>
  </tr>
</table>
