<!-- CUADRADA -->
<div style="margin: auto">
<table class="tbl-elegir borde cuadrada img-elegida">
	<tr>
		<td class="elegir-imagen tres-cols una-row">
			<span class="click-drag">utiliza las flechas para<br> acomodar la imagen</span>
			<br><br>
			<span class="btn-elegir">Elegir imagen</span>
			<div class="bkg-position">
				<table>
				  <tr>
				    <td></td>
				    <td><span class="glyphicon glyphicon-chevron-up bkg-change bkg-up"></span></td>
				    <td></td>
				  </tr>
				  <tr>
				    <td><span class="glyphicon glyphicon-chevron-left bkg-change bkg-left"></span></td>
				    <td></td>
				    <td><span class="glyphicon glyphicon-chevron-right bkg-change bkg-right"></span></td>
				  </tr>
				  <tr>
				    <td></td>
				    <td><span class="glyphicon glyphicon-chevron-down bkg-change bkg-down"></span></td>
				    <td></td>
				  </tr>
				</table>
			</div>
		</td>
	</tr>
</table>
</div>